.uvFavorable {
    background-color: green;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.uvModerate {
    background-color: yellow;
    color:black;
    padding: 5px;
    border-radius: 5px;

}

.uvSevere {
    background-color: red;
    color:white;
    padding: 5px;
    border-radius: 5px;
}

.bg-primary{
    margin: 10px auto;
    height: 100%;
    color: white;

}

.card-subtitle {
    margin-top: -20px;
    padding-bottom: 20px;
}