.uvFavorable {
    background-color: green;
    color:white;
    padding: 10px;
    width:25%;
    border-radius: 10px;
}

.uvModerate {
    background-color: yellow;
    color:black;
    padding: 10px;
    width:25%;
    border-radius: 10px;

}

.uvSevere {
    background-color: red;
    color:white;
    padding: 10px;
    width:25%;
    border-radius: 10px;
}

.test {
    margin: 10px auto;
    height: 100%;

}